$color1: rgba(160, 247, 198, 1);
$color2: rgba(45, 216, 176, 1);
$color3: rgba(33, 117, 165, 1);
$color4: rgba(41, 50, 125, 1);
$color5: rgba(8, 8, 43, 1);

$primary: $color3;
$shade: $color4;
$success: $color2;
$success-shade: $color1;
$background: $color5;